:root{
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentesecundaria: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --fontsize: 1em;
    --margingrip: 1em;
    --anchomaximo:1100px;
}


/* override styles style.css: main line and @media */
main section .flex article{
    border: none; 
    padding: 20px;
}
header div.nav-top div.container a i{
    display: inline;
    width: 100%;
}


/* new styles */
main section .flex{
    justify-content: center;
}
main section .flex cite{
    color: var(--colorprincipal);
    display: inline-block;
    margin-bottom: 10px;
}
main section .flex article a{
    display: inline-block;
    margin-top: 50px;
}
main section#ourblogs div.flex article:nth-child(1), main section#ourblogs div.flex article:nth-child(2){
    width: calc(50% - (2*var(--margingrip)));

}


/* box date */
main article .caja_fecha{
    display: inline-block;
    position: absolute;
    /* no se matiene la relacion de aspecto en relacion con el padre
    width: calc(17% - (2*var(--margingrip)));
    height:calc(10% - (2*var(--margingrip))); */
    width: 11vw;
    height: 11vw;
    background-color: rgba(243, 14, 14, 0.733);
}

main .flex article .caja_fecha p{
color: white;
font-size: 3vw;
text-align: center;
margin-top: 12%;
} */

main article .caja_fecha3{
    display: inline-block;
    position: absolute;
    width: 20vw;
    height: 20vw;
    background-color: rgba(243, 14, 14, 0.733);
    background-color: blue; 
}
main .flex article:nth-child(3) .caja_fecha p{
color: white;
font-size: 3vw;
text-align: center;
margin-top: 10%;

}


    






/* @media */

@media(min-width:600px){
   
    main section#ourblogs div.flex article:nth-child(1), main section#ourblogs div.flex article:nth-child(2){
        width: calc(50% - (2*var(--margingrip)));
    
    }

}


@media(min-width:768px){
    main section .flex {
        border-bottom: none;   
    }
    main section#ourblogs div.flex article:nth-child(3){
        width: calc(100% - (2*var(--margingrip)));
    }

}

@media(min-width:1004px){
    main section#ourblogs div.flex article.articulos_blog{
        width: calc(33.333% - (2*var(--margingrip)));
    }
    main section #ourblogs{
        justify-content: none;}
    }
 
   
    
