@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
/*  font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;*/

/* color principal: #fa573a
color secundario: #21242e */

:root{
    --fuenteprincipal: 'Montserrat', sans-serif;
    --fuentesecundaria: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #21242e;
    --fontsize: 1em;
    --margingrip: 1em;
    --anchomaximo:1100px;
}

html{
    scroll-behavior: smooth;
    /* para generar animaciones de punto de ancla, scroll animado */
}
img{
    display: block;
    width: 100%;
    height: auto;
    
}
*{
    box-sizing: border-box;
}

body{
    font-family: var(--fuenteprincipal);
    font-size: var(--fontsize);
}
.container{
    max-width: var(--anchomaximo);
    margin: 0 auto;
}
/* reglas generales ^ */

/*  inicio header */
header .nav-top{
    background-color: var(--colorsecundario);
    padding: 20px 10px;
}
header .nav-top a{
    color: var(--colorprincipal);
    text-decoration: none;
}

header .nav-top span{
    display: none; /* solo en modo ordenador */
    color: white;
}
header .nav-top a i{
    font-size: 140%;
}
header .nav-top .container{
    display: flex;
    justify-content: space-around;
}


header nav{
    padding: 20px 10px;
}
header nav:after{
    content: "";
    height: 0;
    display: block;
    clear: both;
}
header nav .logo{
    float: left;
    max-width: 100px;
}
header nav .hamburguesa{
    float: right;
    width: 2em;
}
header nav .hamburguesa div{
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}
header nav .menu{
    padding-top: 60px;
    text-align: center;
}
header nav .menu a{
    text-decoration: none;
    display: block;
    padding: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}
header nav .menu li:last-child a{
    border-bottom: 0;
}
header nav .menu a:hover, header nav .menu .activo{
    color: var(--colorprincipal)
}

/* final header */



/* hero */
.hero{
    background-image: url(../images/fondo.jpg);
    height: 60vh;
    background-position: center center;
    background-size: cover;
    background-color: rgb(155, 155, 155);
    background-blend-mode: multiply;
    display: flex;
}
.hero .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}
.hero h1{
    font-family: var(--fuentesecundaria);
    font-size: 2.25em;
    color: white;
}
.hero h2{
    color: var(--colorprincipal);
    font-size: 1.25em;
    margin: var(--margingrip) 0;
    text-shadow: 1px 1px 3px black;
}
.hero p{
    color: white;
    font-size: 1.15em;
}
.boton{
    display: inline-block;
    background-color: var(--colorprincipal);
    padding: 1.15em;
    margin: var(--margingrip) 0;
    color: white;
    text-decoration: none;
    border: 1px solid var(--colorprincipal);
}
.boton:hover {
    background-color: transparent;
    color: var(--colorprincipal);
}
.boton:hover i{
    transition: 0.5s;
    transform: translateX(5px) scale(1.20);

}
.hero .social{
    display: flex;
    width: 160px;
    justify-content: space-between;
}
.hero .social a{
    color: white;
    text-decoration: none;
    font-size: ;
}





/* inicio main */
main section{
    padding: 2.25em 1em;
}
main section h2{
    color: black;
    font-family: var(--fuentesecundaria);
    font-size: 2em;
    text-align: center;
}
main section h2 span{
    color:var(--colorprincipal);
}
main section .underline{
    position: relative;
    width: 100px;
    margin: 0 auto;
    font-weight: bold;
    color: var(--colorprincipal);
    text-align: center;
    margin-bottom: var(--margingrip);
}
main section .underline hr{
    position: absolute;
    width: 100%;
    top: -1px;
    border-color: var(--colorprincipal);
}

main section .flex{
    display: flex;
    flex-wrap: wrap;
}
main section .flex article{
    width: 100%;
    margin: var(--margingrip) 0 0 0;
    border-bottom: 1px solid #aaa;
    padding-bottom: calc(2*(var(--margingrip)));
    
}

main section  p{
    color: #777;
}

main section .flex article div i{
    border: 1px solid var(--colorprincipal);
    color: var(--colorprincipal);
    padding: 0.5em;
    font-size: 150%;
}

main section article h3{
    font-weight: 700;
    margin: 10px 0;
    font-size: 1.15em;    
}
.enlace{
    text-decoration: none;
    color: var(--colorprincipal);
    font-weight: 700;
    display: inline-flex;
    margin-top: 0.5em;

}
.fa-truck{
    transform: rotateY(180deg);
}

/* about us comienzo */
main #aboutus .columna{
    width: 100%;
    padding: 0.5em;
}
main #aboutus h3{
    font-weight: 700;
    font-size: 110%;
}
main #aboutus h4{
    color:var(--colorprincipal);
    margin: var(--margingrip) 0;
}

main #aboutus figure{
    width: 90%;
    margin: 0 auto;

}
main #aboutus figure .marco{
    border: 3px solid var(--colorprincipal);
    transform: rotateZ(10deg);

}
main #aboutus figure .marco img{
    transform: rotateZ(-10deg);
    transition: 1s;
}
main #aboutus figure:hover .marco, main #aboutus figure:hover .marco img{
    transform: rotateZ(0deg);
}


/* about us final */


/* final main */




/* mediaquerys */
/* las mediaquerys tenemos que colocarlas en en orden de menor a mayor */

@media(min-width:600px){
    main section .flex article:last-child{
        width: 100%;
    }
    main section .flex article{
        width: 100%;
        margin: var(--margingrip) 0 0 0;
        border-bottom: 0px solid #aaa;
        border-left: 1px solid #aaa;
        padding-bottom: 0;
        padding-left: calc(2*(var(--margingrip)));
        
    }
    main #aboutus .columna{
        width: 50%;
    }
   
    

}

/* header top */
@media(min-width:768px){
    header .nav-top span{
        display:inline;
    }
    header .nav-top a i{
        font-size: 120%;
    }
    header .nav-top .container{
        display: flex;
        justify-content:space-between;
    }
    main section .flex article, main section .flex article:last-child{
        width: calc(33.333% - (2*var(--margingrip)));
    }   
}

/* header menu */
@media(min-width:1004px){
    header .hamburguesa{
        display: none;
    }
    header nav .menu{
        padding-top: 0px;
        text-align: right;
        float: right;
    }
    header nav .menu li{
        /* display: inline;  no sirve porque dentro tenemos un elemento a que es en linea...los elementos en linea no pueden contener elementos en bloque */
        display: inline-block;
    }
    header nav .menu a{
        display: block;
        padding: 0.7em 2em;
        color: #aaa;
        border-bottom: 0px solid #aaa;
    }
}


